<html>
    <head>
        <title>Yabo City Fantasy Baseball</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="baseball ball icon"></i><i>YABO CITY</i></div>
                <a href="https://baseball.fantasysports.yahoo.com/b1/110401/8">Yahoo Team Page</a>
            </div>
        </div>

