<% include ./partials/header %>

<div class="ui grid">
    <div class="ui four column grid">
            <div class="row">
                <% balls.forEach(function(ball) { %>
                    <div class="column"><img src="<%= ball.image %>" alt=""></div>
                <% }) %>
            </div>
    </div>
</div>




<% include ./partials/footer %>